/* Productos.css */

.main-content {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
}

aside {
  
  width: 150px; /* Ancho del sidebar */
  margin-right: 3rem;
  font-size:x-large;

}

aside h2, aside h3 {

  font-weight: bold; /* Negrita para los títulos */
}



#productos{
    display: flex;
    flex-direction: column;
    width: 250px;
}



input[type="checkbox"] {
  width: 30px;
  height: 30px;
  accent-color: red; /* Cambia el color del checkbox en navegadores que lo soportan */
  cursor: pointer;
  border: 2px solid black;
  margin-right: 2px;
}